body{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

h1{
    margin-top: 120px;
    height: 75px;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.break {
    flex-basis: 100%;
    height: 0;
}



container {
    flex-shrink:0;
    display:flex;
    height: 750px;
    width: 700px;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}
img{
    width: 150px;
    height: 150px;
}
.box {
    
    object-fit: contain;
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    

}
.row {
    display:flex; 
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 650px;
}


.row1 {
    background-color: rgb(235, 154, 78);
}

.row2 {
    background-color: rgb(115, 124, 124);
}

.row3 {
    background-color: rgb(85, 210, 219);
}

